
body {font-family: "Lato", sans-serif;}
.sidebar {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ECECEC;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
  background-color: grey;
}

.main {
  margin-left: 230px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.new-res{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
}
.new-res:hover{
  color: white;
}
.dv-new{
  margin: 20px 0px;
  text-align: right;
}
.sidebar .cate{
  color: black;
  font-size: 20px;
  padding-left: 0px;
}
.sidebar .cate a{
  padding-left: 10px;
}
.box-search{
  margin-bottom: 10px;
}
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: none;
  margin: 0px 20px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.img_clipboard{
  display: none;
  max-width: 300px;
  height: auto;
}
.image_preview{
  display: flex;
}
.image_preview img{
  margin: 10px;
  width: 200px;
  height: 150px;
}
.pasteTarget{
  background: #ECECEC;
  padding: 20px;
}
.item-form{
  margin: 10px 0px;
}
.item-form textarea{
  width: 100%;
  height: 120px;
}
.item-form .input-tag{
  height: 60px;
}
.set-image{
  margin-bottom: 20px;
}
.div-submit{
  text-align: center;
}
.cate-image{
  width: 200px;
  height: 150px;
}
.box-search .form-control{
  max-width: 300px;
  display: inline-block;
}
.required-item{
  color:red
}
.bd-clipboard{
  position: relative;
  float: right;
}
.btn-clipboard {
  position: absolute;
  top: 2.2rem;
  right: 1.2rem;
  z-index: 10;
  display: block;
  padding: .25rem .5rem;
  font-size: .75em;
  color: #0d6efd;
  background-color: #fff;
  border: 1px solid;
  border-radius: .25rem;
}
.btn-clipboard:hover {
  color: #fff;
  background-color: #0d6efd;
}